<header>
  <h1>Larksenio</h1>
  <nav>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#portafolio">Portafolio</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>

<main>
  <section id="sobre-mi">
    <h2>Sobre mí</h2>
    <p>Desarrollador de software con enfoque en desarrollo web full-stack, con base sólida en backend y frontend. Experiencia práctica construyendo soluciones con diseños de funcionalidades, integración con bases de datos relacionales MySQL SQL, consumo y construcción de APIs REST, despliegue de aplicaciones web y mejora continua de plataformas. Me destaco por aprender rápido, mantener estándares de calidad, validaciones, manejo de errores, documentación y por adaptarme a nuevos stacks y entornos de trabajo remotos. Actualmente fortaleciendo habilidades en Docker, CI/CD y Cloud AWS para entornos productivos.</p>
  </section>

  <section id="portafolio">
    <h2>Portafolio</h2>
    <app-portafolio></app-portafolio>
  </section>
</main>

<footer id="contacto">
  <p>Conéctate conmigo en redes sociales:</p>
  <a href="https://x.com/georgeAndrespro?t=ZYGxJr0QVAAn31_l9sP8vg&s=09" target="_blank"><i class="fab fa-twitter"></i></a>
  <a href="https://github.com/Larksenio" target="_blank"><i class="fab fa-github"></i></a>
  <a href="https://www.linkedin.com/in/jorge-andr%C3%A9s-miller-956695329/" target="_blank"><i class="fab fa-linkedin"></i></a>
</footer>
