<header>
  <h1>Mi página personal</h1>
  <nav>
    <a href="#sobre-mi">Sobre mí</a>
    <a href="#portafolio">Portafolio</a>
    <a href="#contacto">Contacto</a>
  </nav>
</header>

<main>
  <section id="sobre-mi">
    <h2>Sobre mí</h2>
    <p>Mi nombre es Larksenio. Soy un desarrollador con pasión por [añade una descripción breve].</p>
  </section>

  <section id="portafolio">
    <h2>Portafolio</h2>
    <app-portafolio></app-portafolio> <!-- Cambiado a 'app-portafolio' -->
  </section>
</main>

<footer>
  <p>Conéctate conmigo en redes sociales:</p>
  <a href="https://twitter.com/tu_perfil">Twitter</a> |
  <a href="https://github.com/tu_perfil">GitHub</a> |
  <a href="https://linkedin.com/in/tu_perfil">LinkedIn</a>
</footer>
